{% extends "base.html" %}

{% set active_page = "index" %}

{% block title %}Home Page{% endblock %}

{% block content %}

	<div class="jumbotron" style="margin: auto; text-align: center;">
		<br>
		<br>
		<h1>Image Repository</h1>
		<br>
		<p class="lead">This is an Image Repository built with MySQL, MinIO and Flask, using Docker Compose as the container orchestrator. MySQL is used to store the users and images data, while MinIO stores the image itself. Flask was used to build the web application.</p>
		<br>
		<p class="text-muted">Adrian Riesco</p>
	</div>

{% endblock %}