{% extends "base.html" %}

{% set active_page = "login" %}

{% block title %}Login{% endblock %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<div class="alert alert-light">{{msg}}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="jumbotron" style="margin: auto; text-align: center;">
		<h1>User Login</h1>
		<br>
	</div>

	<form action="#" method="post" class="form-inline justify-content-center">
	   {{form.hidden_tag()}}
		<div class="row form-group justify-content-center">
			<div class="col-sm-4">
				{{form.username.label(for="floatingInput", class="form-label mt-4")}}

		       	{% if form.username.errors %}

		       		{{form.username(class="form-control is-invalid", placeholder="Username")}}
		           	{% for error in form.username.errors %}
		            	<div class="invalid-feedback">
		                	<span>{{error}}</span>
		               	</div>
		           	{% endfor %}
		   		{% else %}

		    		{{form.username(class="form-control", placeholder="Username")}}

		    	{% endif %}
	    	</div>
		</div>
		<div class="row form-group justify-content-center">
			<div class="col-sm-4">
				{{form.password.label(for="floatingInput", class="form-label mt-4")}}

		       	{% if form.password.errors %}

		       		{{form.password(class="form-control is-invalid", placeholder="Password")}}
		           	{% for error in form.password.errors %}
		            	<div class="invalid-feedback">
		                	<span>{{error}}</span>
		               	</div>
		           	{% endfor %}
		   		{% else %}

		    		{{form.password(class="form-control", placeholder="Password")}}

		    	{% endif %}
		    </div>
	   	</div>
		<div class="col form-group center-block text-center">
       		{{form.send(class="btn btn-primary", style="margin:10px;")}}
    		<button type="button" onclick="location.href='/signin'" class="btn btn-info" style="margin:10px;">Register</button>
		</div>
	</form>
	
{% endblock %}