{% extends "base.html" %}

{% set active_page = "login" %}

{% block title %}Login{% endblock %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<form action="#" method="post" class="row justify-content-md-center">
	   {{form.hidden_tag()}}
	   	<div class="row justify-content-center">
			<p class="col-2">User Login</p>
		</div>
		<div class="form-floating mb-3">
	       	{% if form.username.errors %}
 
	       		{{form.username(class="form-control is-invalid", placeholder="Username")}}
	           	{% for error in form.username.errors %}
	            	<div class="invalid-feedback">
	                	<span>{{error}}</span>
	               	</div>
	           	{% endfor %}
       		{% else %}

	    		{{form.username(class="form-control", placeholder="Username")}}

	    	{% endif %}

	    	{{form.username.label(for="floatingInput")}}
		</div>
		<div class="form-floating">
	       	{% if form.password.errors %}
 
	       		{{form.password(class="form-control is-invalid", placeholder="Password")}}
	           	{% for error in form.password.errors %}
	            	<div class="invalid-feedback">
	                	<span>{{error}}</span>
	               	</div>
	           	{% endfor %}
       		{% else %}

	    		{{form.password(class="form-control", placeholder="Password")}}

	    	{% endif %}

	    	{{form.password.label(for="floatingInput")}}
	   	</div>
		<div class="row justify-content-center">
			<div class="col-sm-2">
	       		{{form.send(class="btn btn-primary")}}
	   		</div>
	    	<div class="col-sm-2">
	    		<button type="button" onclick="location.href='/signin'" class="btn btn-info">Register</button>
	    	</div>
    	</div>
	</form>
	
{% endblock %}