{% extends "base.html" %}

{% set active_page = "myfiles" %}

{% block title %}{{user}}'s files{% endblock %}

{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}	

	<div>
	    <form method="POST" enctype="multipart/form-data">
	    	{{form.hidden_tag()}}
	    	<fieldset class="form-group">
	    		<legend class="mt-4">Upload an image</legend>
	    		<div class="custom-file">
				    {{form.file(class="form-control")}}
				    
				</div>
				<div>
					{% for choice in form.visibility %}
						<div class="form-check">
							<label class="form-check-label">
							{{choice(class="form-check-input")}}
							{{choice.label()}}
							</label>
						</div>
					{% endfor %}
				</div>
				<div>
					{{form.send(class="btn btn-light")}}
				</div>
			</fieldset>
		</form>
	</div>

	<h1>List of public images
	{% for file in files %}
		<img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
	{% endfor %}</h1>

{% endblock %}