{% extends "base.html" %}

{% set active_page = "myfiles" %}

{% block title %}{{user}}'s files{% endblock %}

{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<button type="button" class="btn btn-success">Success</button>
	<input class="form-control" type="file" id="formFile">

	<h1>List of public images</h1>

	<h1>List of public images
	{% for file in files %}
		<img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
	{% endfor %}</h1>
	
	<img src="{{ url_for('static', filename='images/wolf') }}" style="width: 64px">

{% endblock %}