{% extends "base.html" %}

{% set active_page = "login" %}

{% block title %}SignIn{% endblock %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<form action="#" method="POST">
		{{form.hidden_tag()}}
	  	<fieldset>
	  		<legend>Welcome to the team! Please, introduce your information:</legend>
		    <div class="form-group">
		    	{{form.name.label(for="inputUsername", class="form-label mt-4")}}
		    	{% if form.name.errors %}
	 
		       		{{form.name(class="form-control is-invalid", placeholder="Enter your name")}}
		           	{% for error in form.name.errors %}
		            	<div class="invalid-feedback">
		                	<span>{{error}}</span>
		               	</div>
		           	{% endfor %}
	       		{% else %}

		    		{{form.name(class="form-control", placeholder="Enter your name")}}

		    	{% endif %}
		    </div>
		    <div class="form-group">
		    	{{form.username.label(for="inputUsername", class="form-label mt-4")}}
		    	{% if form.username.errors %}
	 
		       		{{form.username(class="form-control is-invalid", placeholder="Enter username")}}
		           	{% for error in form.username.errors %}
		            	<div class="invalid-feedback">
		                	<span>{{error}}</span>
		               	</div>
		           	{% endfor %}
	       		{% else %}

		    		{{form.username(class="form-control", placeholder="Enter username")}}

		    	{% endif %}
		    </div>
		    <div class="form-group">
		    	{{form.email.label(for="inputUsername", class="form-label mt-4")}}
		    	{% if form.email.errors %}
	 
		       		{{form.email(class="form-control is-invalid", placeholder="Enter email")}}
		           	{% for error in form.email.errors %}
		            	<div class="invalid-feedback">
		                	<span>{{error}}</span>
		               	</div>
		           	{% endfor %}
	       		{% else %}

		    		{{form.email(class="form-control", placeholder="Enter email")}}

		    	{% endif %}
		      	<small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
		    </div>
		    <div class="form-group">
		    	{{form.password.label(for="inputUsername", class="form-label mt-4")}}
		    	{% if form.password.errors %}
	 
		       		{{form.password(class="form-control is-invalid", placeholder="Password")}}
		           	{% for error in form.password.errors %}
		            	<div class="invalid-feedback">
		                	<span>{{error}}</span>
		               	</div>
		           	{% endfor %}
	       		{% else %}

		    		{{form.password(class="form-control", placeholder="Password")}}

		    	{% endif %}
		    </div>
		    <div class="form-group">
		    	{{form.confirm_password.label(for="inputUsername", class="form-label mt-4")}}
		    	{% if form.confirm_password.errors %}
	 
		       		{{form.confirm_password(class="form-control is-invalid", placeholder="Password")}}
		           	{% for error in form.confirm_password.errors %}
		            	<div class="invalid-feedback">
		                	<span>{{error}}</span>
		               	</div>
		           	{% endfor %}
	       		{% else %}

		    		{{form.confirm_password(class="form-control", placeholder="Password")}}

		    	{% endif %}
		    </div>
		    <div class="row justify-content-center">
				<div class="col-sm-2" margin:10px>
			    	{{form.send(class="btn btn-primary")}}
		    	</div>
	    	</div>
    	</fieldset>
	</form>
{% endblock %}